body {
    background-color: whitesmoke; 
}

h1 {
    color: navy;
    text-align: center;
    margin: 20px, 0, 0;
    padding: 10px;
    font-size: 30px;
    
}

.login-window {
    width: 360px;
    padding: 8%, 0, 0;
    margin: auto;
}

form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

input {
    font-family: "Helvetica", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.submit-button {
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(196, 8, 196);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

.submit-button:hover {
    background: rgb(236, 5, 236);
}



