body {
    background-color: whitesmoke; 
}

.welcomeMessage {
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin: 20px, 0, 0;
    padding: 10px;
    font-size: 30px;
    color: navy;
    font-weight: 600;
}

#userWelcome  {
    font-weight: 300;
    text-decoration: underline;
}

.gameResults {
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin: 20px, 0, 0;
    padding: 10px;
    color: navy;
}

#userFizzBuzz {
    background-color: rgb(237,237,237);
    padding: 5px;
    border-radius: 5px;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.incrementor {
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(196, 8, 196);
    width: 200px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}
.incrementor:hover {
    background: rgb(236, 5, 236);
}